body {
	background-color:black;
   -webkit-transition:background-color 0.1s linear;  
   -moz-transition:background-color 0.1s linear;  
   -o-transition:background-color 0.1s linear;  
   transition:background-color 0.1s linear;  
}

.video {
	border:1px solid red;	
}

.snapshot {
	border: 1px solid green;
	display:none;
}

.diff {
	border: 1px solid blue;
}

.same-size-isnt-it {
	width:320px;
	height:240px;
}

.score {
	font-size:4em;
	line-height:1em;
}